

.idea/
*.csv
__pycache__/

factual_test.py
plot_multilabel.py
test.py
test2.py
factkey.py

!mapped_factual_categories.csv
!factual_vtax_training_data.csv
!mapped_name_factual_categories.csv
!business_names.csv

